@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* Media Queries for header, text, thumnbnails & links */
@media  (min-width: 320px) {
  header {
    font-size: 7.5px;
    font-weight: bold;
  }
  .mquerytext {
    font-size: 16px;
  }
   .mquerytext2 {
    font-size: 10px;
  }
  .mquerytext3 {
    font-size: 20px;
  }
  .mquerytext4 {
    font-size: 7.5px;
  }
}
@media (min-width: 375px) {
    header {
      font-size: 8.5px;
      font-weight: bold;
    }
    .mquerytext {
      font-size: 20px;
    }
    .mquerytext2 {
      font-size: 10px;
    }
    .mquerytext3 {
      font-size: 20px;
    }
    .mquerytext4 {
      font-size: 8.5px;
    }

}
@media (min-width: 425px) {
    header {
      font-size: 10px;
      font-weight: bold;
    }
    .mquerytext {
      font-size: 22px;
    }
    .mquerytext2 {
      font-size: 12px;
    }
    .mquerytext3 {
      font-size: 22px;
    }
    .mquerytext4 {
      font-size: 10px;
    }
}
@media  (min-width: 640px) {
  header {
    font-size: 10.5px;
    font-weight: bold;
  }
  .mquerytext, .mquerytext3 {
    font-size: 24px;
  }
  .mquerytext2 {
    font-size: 14px;
  }
  .mquerytext4 {
    font-size: 10.5px;
  }
}
@media (min-width: 768px) {
  header {
    font-size: 12px;
    font-weight: bold;
  }
  .mquerytext, .mquerytext3 {
    font-size: 28px;
  }
  .mquerytext2 {
    font-size: 16px;
  }
  .mquerytext4 {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  header {
    font-size: 14px;
    font-weight: bold;
  }
  .mquerytext, .mquerytext3 {
    font-size: 32px;
  }
  .mquerytext2 {
    font-size: 18px;
  }
  .mquerytext4 {
    font-size: 14px;
  }
}
@media  (min-width: 1280px) {
  header {
    font-size: 18px;
  }
  .mquerytext, .mquerytext3 {
    font-size: 34px;
  }
  .mquerytext2 {
    font-size: 20px;
  }
  .mquerytext4 {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  header {
    font-size: 18px;
  }
  .mquerytext, .mquerytext3 {
    font-size: 34px;
  }
  .mquerytext2 {
    font-size: 20px;
  }
  .mquerytext4 {
    font-size: 18px;
  }
}
/* Media Queries for images in thumbnails */
@media (min-width: 320px) {
  .imgquery {
    width: 75%;
    height: 80%;
  }
  .imgquery2 {
    width: 50%;
    height: 75%;
  }
  .imgquery3 {
    width: 35%;
    height: 50%;
  }
}
@media (min-width: 375px) {
   .imgquery {
    width: 75%;
    height: 90%;
  }
  .imgquery2 {
    width: 52%;
    height: 75%;
  }
  .imgquery3 {
    width: 35%;
    height: 55%;
  }
  
}
@media (min-width: 768px) {
   .imgquery {
    width: 55%;
    height: 90%;
  }
  .imgquery2 {
    width: 38%;
    height: 75%;
  }
  .imgquery3 {
    width: 24%;
    height: 55%;
  }
  
}
@media (min-width: 1024px) {
   .imgquery {
    width: 38%;
    height: 100%;
  }
  .imgquery2 {
    width: 30%;
    height: 75%;
  }
  .imgquery3 {
    width: 20%;
    height: 55%;
  }
  
}
@media (min-width: 1440px) {
   .imgquery {
    width: 35%;
    height: 100%;
  }
  .imgquery2 {
    width: 24%;
    height: 75%;
  }
  .imgquery3 {
    width: 12%;
    height: 55%;
  }
  
}
/*image querys for technology images*/
@media (min-width: 320px) {
  .techimgquery {
    width: 20%;
    height: auto;
  }
  .techimgquery2 {
    width: 13%;
    height: 15%;
  }
  .techimgquery3 {
    width: 14%;
    height: 15%;
  }
  .techimgquery4 {
    width: 28% ;
    height: 20%; ;
  }
}
@media (min-width: 375px) {
  .techimgquery {
    width: 17%;
    height: auto;
  }
  .techimgquery2 {
    width: 12%;
    height: 15%;
  }
  .techimgquery3 {
    width: 13%;
    height: 15%;
  }
  .techimgquery4 {
    width: 23% ;
    height: 20%; ;
  }
}
@media (min-width: 425px) {
  .techimgquery {
    width: 15%;
    height: auto;
  }
  .techimgquery2 {
    width: 10%;
    height: 15%;
  }
  .techimgquery3 {
    width: 11.2%;
    height: 15%;
  }
  .techimgquery4 {
    width: 20% ;
    height: 20%; ;
  }
}
@media (min-width: 768px) {
  .techimgquery {
    width: 13%;
    height: auto;
  }
  .techimgquery2 {
    width: 9%;
    height: 15%;
  }
  .techimgquery3 {
    width: 10.5%;
    height: 15%;
  }
  .techimgquery4 {
    width: 18% ;
    height: 20%; ;
  }
}
@media (min-width: 1024px) {
  .techimgquery {
    width: 12%;
    height: auto;
  }
  .techimgquery2 {
    width: 9%;
    height: 15%;
  }
  .techimgquery3 {
    width: 10%;
    height: 15%;
  }
  .techimgquery4 {
    width: 16% ;
    height: 20%; ;
  }
}
@media (min-width: 1440px) {
  .techimgquery {
    width: 10%;
    height: auto;
  }
   .techimgquery2 {
    width: 7.5%;
    height: 15%;
  }
  .techimgquery3 {
    width: 8%;
    height: 15%;
  }
  .techimgquery4 {
    width: 16% ;
    height: 20%; ;
  }
}
/* End of Tech image media queries */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.email {
  border-style: inset;
}
.userinput {
  border-style: outset;
}
.userinput_1 {
  border-style: groove;
}
@keyframes load-border {
  0% {
    width: 0;
  }
  
  100% {
    width: 100%;
  }
}
.animate-load-border {
  animation: load-border 1.4s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.fadeInanimate {
  animation: fadeIn 3.5s ease-in;
}
@keyframes navbounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
.animate-bounce {
  animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation: "navbounce";
  animation-duration: 6s;
}
.animate-bounce2 {
  animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation: "navbounce";
  animation-duration: 6.4s;
}
.animate-bounce3 {
  animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation: "navbounce";
  animation-duration: 6.8s;
}
.animate-bounce4 {
  animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation: "navbounce";
  animation-duration:7.2s;
}